@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  margin: 0;
  padding: 0;
  background:#EEF3F7;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.table-row td{
  border-bottom: 1px solid #eee;
  font-size:14px;
  color:#59636C;
}
.ratings{
  margin:0px 5px;
  cursor:pointer;
}
.no-cursor{
  cursor:default;
}
.ratings.active{
  background-color:#01A1C3 !important;
  color:white !important;
  border:none !important
}
.center{
  text-align: center;
}
.padding-row{
  padding: 15px 0px;
}
.no-data{
    width: 200%;
    font-size: 20px;
    color: #ccc;
    text-align: center;
    padding: 15px 0;
}
.padding-comment{
  padding-left: 35px !important;
  max-width: 200px;
}
.page-link{
  cursor:pointer;
}

.page-link.active,.page-link.active:hover{
  background:#337AB7;
  color:white
}
.page-link.disabled{
  background:#ccc;
  color:#fafafa;
  pointer-events:none;
}